body {
    font-family: 'sourcesanspro';
    background: url('../images/background-opt.jpg') no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    &.is-reveal-open {
        overflow: visible;
    }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'quicksand';
}

#contentWrapper {
    width: 1042px;
    max-width: 95%;
    margin: auto;
}

.no-margin {
    margin-left: 0;
}

.svg-sprite-small {
    margin-right: $gap-xs;
    position: relative;
    top: -2px;
    width: 8px;
    height: 8px;
}

ul.unstyled {
    li {
        list-style-type: none;
    }
}
.list-contact {
    li {
        margin-bottom: $gap-s;
    }
    img {
        max-width: 24px;
        margin-right: $gap-s;
    }
}
#portrait {
    margin-bottom: $gap-m;
}
.box-emphasis {
    padding: $gap-s;
    background: $c-grey-1;
    border-radius: $br-s;
}

.separator-dates {
    text-align: center;
    background: $c-grey-1;
    margin-top: $gap-l;
    height: 30px;
    line-height: 35px;
}

header {
    margin: $gap-l 0;
    text-align: center;
    background: $c-black-1;
    color: white;
    border: 1px solid $c-grey-2;
}
footer {
	background: $c-black-1;
	color: white;
	padding: $gap-l;
	a {
		color: $c-grey-1;
		text-decoration: underline;
		&:hover {
			color: white;
			text-decoration: underline;
		}
	}
}
.frame-round {
    display: block;
    width: 128px;
    margin: auto;
    border-radius: 64px;
    box-shadow: 0 0 0 1px white;
}
.col-left,
.col-right {
    padding: $gap-l;
    border: 1px solid $c-grey-2;
}
.col-right {
    background: white;
}
.col-left {
    background: $c-grey-1;
    .bordered {
        border-top: 1px solid white;
        padding-top: $gap-m;
    }
}
ul.list-flat {
    list-style-type: none;
    li {
        display: inline-block;
        padding: $gap-xxs $gap-s;
        margin-bottom: $gap-s;
        
    }
    &.type-1 li {
        background: $c-blue-1;
    }
    &.type-2 li {
        background: $c-orange-1;
    }
    &.type-3 li {
        background: $c-blue-2;
    }
    &.type-4 li {
        background: $c-orange-2;
    }
}
.info-click {
    width: 12px;
    margin-left: $gap-xs;
}
.pills > li {
    border-radius: $br-s;
    box-shadow: 0 0 0 1px white;
    font-weight: bold;
    color: white;
    margin-right: $gap-s;
    &.has-button {
        cursor: pointer;
    }
    button {
        font-weight: bold;
        color: white;
        cursor: pointer;
    }
}
.icon {
    margin: 0 $gap-m $gap-m 0;
    display: inline-block;
    position: relative;
    overflow: visible;
    &:hover:before {
        position: absolute;
        top: 110%;
        left: 0;
        content: "what you see is what you get !";
        color: white;
        background: rgba(0,0,0,0.70);
        border: 1px solid $c-grey-1;
        padding: 2px 5px;
        overflow: visible;
        z-index: 10;
    }
    &.icon-01:hover:before {
        content: "famille"
    }
    &.icon-02:hover:before {
        content: "lecture"
    }
    &.icon-03:hover:before {
        content: "photo"
    }
    &.icon-04:hover:before {
        content: "escalade"
    }
    &.icon-05:hover:before {
        content: "snowboard"
    }
    &.icon-06:hover:before {
        content: "plongée"
    }
    &.icon-07:hover:before {
        content: "randonnée"
    }
    &.icon-08:hover:before {
        content: "natation"
    }
    &.icon-09:hover:before {
        content: "VTT"
    }
    &.icon-10:hover:before {
        content: "yoga"
    }
}


@media (max-width: 1280px){ 
	body {
		background: none;
		background-color: #0080C1;
	}
}
