
$primary: #1779ba;
$secondary: #767676;
$success: #3adb76;
$warning: #ffae00;
$alert: #cc4b37;

$size-xxs: 2.5px;
$size-xs: 5px;
$size-s: 10px;
$size-m: 20px;
$size-l: 30px;

$gap-xxs: $size-xxs;
$gap-xs: $size-xs;
$gap-s: $size-s;
$gap-m: $size-m;
$gap-l: $size-l;

$br-xs: $size-xs;
$br-s: $size-s;

$c-black-1: #333;
$c-orange-1: #FFBB00;
$c-orange-2: #FF8C00;
$c-blue-1: #4398CA;
$c-blue-2: #535CD2;
$c-grey-1: #EEE;
$c-grey-2: #CCC; 